# Fichiers et dossiers Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/
.idea/
.vscode/
*.iml

# Fichiers de build Android
/android/app/debug
/android/app/profile
/android/app/release
/android/.gradle
/android/local.properties
/android/app/dev

# Fichiers de build iOS
/ios/Flutter/.last_build_id
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/ephemeral/
/ios/Flutter/Generated.xcconfig
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/flutter_export_environment.sh
/ios/Runner.xcworkspace

# Fichiers macOS
.DS_Store
.AppleDouble
.LSOverride

# Fichiers Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Fichiers générés dart
*.g.dart
*.freezed.dart

# Fichiers de build web
/web/favicon.png
/web/flutter_service_worker.js
/web/manifest.json
/web/assets/
/web/canvaskit/

# Fichiers log et temporaires
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/
tmp/

# Fichiers de configuration pour développeurs
.env
.env.*
!.env.example
